--indent 2 
--allman false 
--removelines enabled 
--header "{file}\nCopyright (c) {year} BrightDigit\nCreated by Leo Dion on {created}."
--insertlines disabled 
--empty void 
--ranges spaced 
--trimwhitespace always 
--linebreaks lf 
--commas always 
--comments indent 
--ifdef indent 
--hexliterals uppercase 
--semicolons inline
--disable redundantNilInit